# =================================================================
# [ 가이드 ]
# 1. 이 파일을 복사하여 'application-secret.yml'로 이름을 변경하세요.
# 2. 아래의 'YOUR_...' 부분을 본인의 로컬 환경 설정에 맞게 수정하세요.
# 3. 'application-secret.yml'은 .gitignore에 등록되어 보안상 커밋되지 않습니다.
# =================================================================

db:
  local:
    url: {YOUR_DB_URL}
    username: {YOUR_DB_USERNAME}
    password: {YOUR_DB_PASSWORD}

jwt:
  secret: {YOUR_JWT_SECRET_KEY}
  token-validity-in-seconds: {YOUR_TOKEN_VALID}

